<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.futurenet.sorisoopbackend.tts.domain.TtsRepository" >
    <select id="getVoiceUrlById" resultType="java.lang.String">
        SELECT tts_url
        FROM voice
        WHERE id = #{voiceId}
    </select>
    <select id="getFairyTaleList" resultType="com.futurenet.sorisoopbackend.tts.dto.TtsDto">
        SELECT page, script
        FROM fairy_tale_content
        WHERE fairy_tale_id = #{fairyTaleId}
        ORDER BY page ASC
    </select>
    <select id="getCustomFairyTaleList" resultType="com.futurenet.sorisoopbackend.tts.dto.TtsDto">
        SELECT page, script
        FROM custom_fairy_tale_content
        WHERE custom_fairy_tale_id = #{customFairyTaleId}
        ORDER BY page ASC
    </select>
    <select id="getFairyTaleScript" resultType="java.lang.String">
        SELECT script
        FROM fairy_tale_content
        WHERE fairy_tale_id = #{fairyTaleId} and page = #{page}
    </select>
</mapper>