<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.futurenet.sorisoopbackend.fairytale.domain.FairyTaleRepository">
    <select id="getAllFairyTaleContentsByFairyTaleId" resultType="com.futurenet.sorisoopbackend.fairytale.dto.response.FindFairyTaleContentResponse">
        SELECT
        fc.id, fc.page, fc.image_url AS imageUrl, LTRIM(fc.script) AS script, ft.title AS title
        FROM fairy_tale_content fc JOIN fairy_tale ft ON fc.fairy_tale_id = ft.id
        WHERE fc.fairy_tale_id = #{fairyTaleId}
        ORDER BY fc.page
    </select>
    <select id="getAllFairyTaleCategories" resultType="com.futurenet.sorisoopbackend.fairytale.dto.response.FindFairyTaleCategoryResponse">
        SELECT id, name
        FROM fairy_tale_category
    </select>
        <select id="getAllFairyTaleListByCategoryId" resultType="com.futurenet.sorisoopbackend.fairytale.dto.response.FindFairyTaleResponse">
        SELECT ft.id, ft.title, ft.author, ft.thumbnail_image AS thumbnailImage, ft.page_count AS pageCount, ftc.name AS categoryName,
        CASE
        WHEN fav.fairy_tale_id IS NOT NULL THEN 1
        ELSE 0
        END AS isFavorite
        FROM fairy_tale ft
        JOIN fairy_tale_category ftc ON ft.category_id = ftc.id
        LEFT JOIN favorite fav ON fav.fairy_tale_id = ft.id
        AND fav.profile_id = #{profileId}
        <where>
            <if test="categoryId != 0">
                ft.category_id = #{categoryId}
            </if>
        </where>
        ORDER BY ft.id DESC
        OFFSET #{start} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

    <select id="getFairyTaleListByKeyword" resultType="com.futurenet.sorisoopbackend.fairytale.dto.response.FindFairyTaleResponse">
        SELECT ft.id, ft.title, ft.author, ft.thumbnail_image AS thumbnailImage, ft.page_count AS pageCount, ftc.name AS categoryName,
        CASE
        WHEN fav.fairy_tale_id IS NOT NULL THEN 1
        ELSE 0
        END AS favorite
        FROM fairy_tale ft
        JOIN fairy_tale_category ftc
        ON ft.category_id = ftc.id
        LEFT JOIN favorite fav
        ON fav.fairy_tale_id = ft.id
        AND fav.profile_id = #{profileId,jdbcType=NUMERIC}
        WHERE ft.title LIKE '%' || #{keyword} || '%'
        ORDER BY ft.id DESC
        OFFSET #{start} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>
    <select id="getFairyTaleDetailByFairyTaleId" resultType="com.futurenet.sorisoopbackend.fairytale.dto.response.FindFairyTaleResponse">
        SELECT ft.id, ft.title, ft.author, ft.thumbnail_image AS thumbnailImage, ft.page_count AS pageCount, ftc.name AS categoryName,
        CASE
        WHEN fav.fairy_tale_id IS NOT NULL THEN 1
        ELSE 0
        END AS favorite
        FROM fairy_tale ft
        JOIN fairy_tale_category ftc
        ON ft.category_id = ftc.id
        LEFT JOIN favorite fav
        ON fav.fairy_tale_id = ft.id
        AND fav.profile_id = #{profileId,jdbcType=NUMERIC}
        WHERE ft.id = #{fairyTaleId}
    </select>
    <select id="getFairyTalesRandom" resultType="com.futurenet.sorisoopbackend.fairytale.dto.response.FindFairyTaleResponse">
        SELECT ft.id, ft.title, ft.author, ft.thumbnail_image AS thumbnailImage, ft.page_count AS pageCount, ftc.name AS categoryName,
        CASE
        WHEN fav.fairy_tale_id IS NOT NULL THEN 1
        ELSE 0
        END AS favorite
        FROM fairy_tale ft
        JOIN fairy_tale_category ftc
        ON ft.category_id = ftc.id
        LEFT JOIN favorite fav
        ON fav.fairy_tale_id = ft.id
        AND fav.profile_id = #{profileId,jdbcType=NUMERIC}
        ORDER BY DBMS_RANDOM.VALUE
        FETCH FIRST 20 ROWS ONLY
    </select>
</mapper>