<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.futurenet.sorisoopbackend.fairytale.domain.FairyTaleRepository">
    <select id="getAllFairyTaleContentsByFairyTaleId" resultType="com.futurenet.sorisoopbackend.fairytale.dto.response.FindFairyTaleContentResponse">
        SELECT
        fc.id, fc.page, fc.image_url AS imageUrl, LTRIM(fc.script) AS script, ft.title AS title
        FROM fairy_tale_content fc JOIN fairy_tale ft ON fc.fairy_tale_id = ft.id
        WHERE fc.fairy_tale_id = #{fairyTaleId}
        ORDER BY fc.page
    </select>
</mapper>