<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.futurenet.sorisoopbackend.fairytale.domain.FairyTaleRepository">
    <select id="getAllFairyTaleContentsByFairyTaleId" resultType="com.futurenet.sorisoopbackend.fairytale.dto.response.FIndFairyTaleContentResponse">
        SELECT id, page, image_url AS imageUrl, LTRIM(script) AS script
        FROM fairy_tale_content
        WHERE fairy_tale_id = #{fairyTaleId}
        ORDER BY page
    </select>
</mapper>