<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.futurenet.sorisoopbackend.mission.domain.MissionRepository">
    <insert id="saveMission" parameterType="com.futurenet.sorisoopbackend.mission.dto.SaveMissionDto"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">
        INSERT INTO mission (title,child_profile_id,parents_profile_id,start_date,end_date,type,status,created_by)
        VALUES (
        #{request.title},
        #{request.childProfileId},
        #{request.parentProfileId},
        #{request.startDate},
        #{request.endDate},
        #{request.missionType},
        #{request.missionStatus},
        #{request.parentProfileId}
        )
    </insert>

    <select id="getAllGivenMission" resultType="com.futurenet.sorisoopbackend.mission.dto.response.GetGivenMissionResponse">
        SELECT m.id AS missionId, m.title AS title, p.nickname AS childName, m.type AS missionType, m.start_date AS startDate, m.end_date AS endDate, m.status AS missionStatus
        FROM mission m JOIN profile p ON m.child_profile_id = p.id
        WHERE m.parents_profile_id = #{profileId} AND m.child_profile_id = #{childProfileId}
        ORDER BY m.id desc
    </select>

    <select id="getAllAssignedMission" resultType="com.futurenet.sorisoopbackend.mission.dto.response.GetAssignedMissionResponse">
        SELECT
            m.id AS missionId,
            m.title AS title,
            m.type AS missionType,
            m.start_date AS startDate,
            m.end_date AS endDate,
            m.status AS missionStatus
        FROM mission m
        WHERE m.CHILD_PROFILE_ID = #{profileId}
        ORDER BY m.id desc
    </select>

    <select id="getMissionByMissionId" resultType="com.futurenet.sorisoopbackend.mission.dto.GetMissionDto">
        SELECT id AS missionId, type AS missionType, child_profile_id AS childProfileId, start_date AS startDate, end_date AS endDate
        FROM mission
        WHERE id = #{missionId}
    </select>

    <delete id="deleteMissionByMissionIdAndProfileId">
        DELETE FROM mission
        WHERE id = #{missionId} AND parents_profile_id = #{profileId}
    </delete>
</mapper>