<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.futurenet.sorisoopbackend.profile.domain.ProfileRepository">

    <select id="findAllProfilesByMemberId" resultType="com.futurenet.sorisoopbackend.profile.dto.response.FindProfileResponse">
        SELECT id, nickname, profile_image AS profileImage, role, age, gender
        FROM profile
        WHERE member_id = #{memberId}
    </select>

    <insert id="saveProfile" parameterType="com.futurenet.sorisoopbackend.profile.dto.SaveProfileDto"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">
        INSERT INTO profile (member_id, nickname, profile_image, role, age, gender, password, created_by)
        VALUES (
        #{request.memberId},
        #{request.nickname},
        #{request.profileImage, jdbcType=VARCHAR},
        #{request.role, jdbcType=VARCHAR},
        #{request.age, jdbcType=INTEGER},
        #{request.gender, jdbcType=VARCHAR},
        #{request.password, jdbcType=VARCHAR},
        #{request.memberId}
        )
    </insert>

    <select id="existsProfileByMemberIdAndProfileId" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
        FROM profile
        WHERE member_id = #{memberId}
        AND id = #{profileId}
    </select>

    <delete id="deleteProfileByMemberIdAndProfileId">
        DELETE FROM profile
        WHERE member_id = #{memberId}
        AND id = #{profileId}
    </delete>

    <select id="getProfileByProfileId" resultType="com.futurenet.sorisoopbackend.profile.dto.response.FindProfileResponse">
        SELECT id, nickname, profile_image AS profileImage, role, age, gender, password
        FROM profile
        WHERE id = #{profileId}
    </select>

    <update id="updateProfile" parameterType="com.futurenet.sorisoopbackend.profile.dto.UpdateProfileDto">
        UPDATE profile
        <set>
            <if test="request.nickname != null">
                nickname = #{request.nickname},
            </if>
            <if test="request.role != null">
                role = #{request.role},
            </if>
            <if test="request.age != null">
                age = #{request.age},
            </if>
            <if test="request.gender != null">
                gender = #{request.gender},
            </if>
            <if test="request.profileImage != null">
                profile_image = #{request.profileImage},
            </if>
            updated_at = SYSDATE
        </set>
        WHERE id = #{request.id}
    </update>

</mapper>