<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.futurenet.sorisoopbackend.profile.domain.ProfileRepository">

    <select id="findAllProfilesByMemberId" resultType="com.futurenet.sorisoopbackend.profile.dto.response.FindProfileResponse">
        SELECT id, nickname, profile_image AS profileImage, role, age, gender
        FROM profile
        WHERE member_id = #{memberId}
    </select>
</mapper>