<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.futurenet.sorisoopbackend.voice.domain.VoiceMapper">


    <select id="getVoiceList" resultType="com.futurenet.sorisoopbackend.voice.dto.response.VoiceResponse">
        SELECT id, profile_id AS profileId, image_url AS imageUrl, title
        FROM voice
        WHERE profile_id = #{profileId}
    </select>
</mapper>